<h1>Editing sport</h1>

<% form_for(@sport) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @sport %> |
<%= link_to 'Back', sports_path %>