<fieldset>
  <legend>Extended Info</legend>
  <ul class="form">
    <li>
      <%= f.label :name, "Full Name" %>
      <%= f.text_field :name %>
    </li>
    <li>
      <%= f.label :bio, "Bio" %>
      <%= f.text_area :bio %>
    </li>
  </ul>
</fieldset>