<ol id="listed_articles">
  <% @articles.each do |article| %>
    <li class="article <%= 'paid' if article.pro %>">
      <%= render :partial => 'article_synapse', :locals => {:article => article} %>
    </li>
  <% end %>
</ol>